<script type="text/javascript">
 const token= localStorage.getItem("token");
 const localdata=JSON.parse(localStorage.getItem("data"))
 console.log("token",localdata)
 
 window.onload=function(){
 if(localdata["custom:userType"] == "Doctor"){
  document.getElementById('patient').style.display = "none";
  document.getElementById('one').style.display = "flex";
  } else {
    document.getElementById('patient').style.display = "block";
    document.getElementById('one').style.display = "none";
  }
}
function callPatientPrescriptionApi(){
  window.location.href=`/prescriptionview?email=${localdata.email}`
}

 function callPrescriptionApi(emailId){
    //console.log("email", emailId);
    window.location.href=`/prescriptionview?email=${emailId}`
 }
 function logout(){
   localStorage.clear();
   location.href="/"
 }

</script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div style="display: flex;justify-content: space-between;">
  <div style="display: flex;">
  <h6><b>Welcome <%= userName%></b></h6>
  </div>
  <div style="display: flex;justify-content: flex-end;">
<button style="width: 100%;" class="btn btn-primary btn-block" onclick="logout()">Logout</button>
  </div>
</div>

<div >
    <table>
      <thead>
      <div id="one" style="display: flex;">
        <h6 style="width: 200px;text-align: center;font-weight: bold;">Name</h6>
        <h6 style="width: 200px;text-align: center;font-weight: bold;">Gender</h6>
        <h6 style="width: 200px;text-align: center;font-weight: bold">DOB</h6>
        <h6 style="width: 200px;text-align: center;font-weight: bold;">Email</h6>
      </div>
        
      </thead>
          
      <tbody> 
              <% data.forEach(function (data) { %>
                <% if(data.userType.S=="Patient") { %>
                     
                  <tr style="display: flex;" >
                      <td style="width: 200px;text-align: center;"><%= data.Name.S %></td>
                      <td style="width: 200px;text-align: center;"><%= data.gender.S %></td>
                      <td style="width: 200px;text-align: center;"><%= data.dob.S %> </td>
                      <td style="width: 200px;text-align: center;"><%= data.email.S %> </td>
                      
                      <td><button class="btn btn-primary" onclick="callPrescriptionApi('<%= data.email.S %>')"
                        type="button">View</button></td>
                      
                  </tr>
                  <% }})%>
      </tbody>              
    </table>        <div id="patient">
                  <div 
                  class="bg-image card shadow-1-strong"
                  style="background-image: url('https://www.parathon.com/wp-content/uploads/Healthcare2012_12_14.jpg');">

                  <script src="https://d12y1d3fs92wdi.cloudfront.net/lex-web-ui-loader.min.js"></script>
<script>
  var loaderOpts = {
    baseUrl: 'https://d12y1d3fs92wdi.cloudfront.net/',
    shouldLoadMinDeps: true
  };
  var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
  var chatbotUiConfig = {
          /* Example of setting session attributes on parent page
          lex: {
            sessionAttributes: {
              userAgent: navigator.userAgent,
              QNAClientFilter: ''
            }
          }
          */
        };
  loader.load(chatbotUiConfig)
    .catch(function (error) { console.error(error); });
</script>
  
                    
  

                  <div class="card-body text-white">
                    <h5 class="card-title">Medex</h5>
                    <p class="card-text">
                      Medex allows to manage your medicines easily.
                    </p>


                  </div>
                </div>  
                <div style="display: flex;justify-content: center;">
                  <button type="button" style="margin-right: 3px;"  onclick="callPatientPrescriptionApi()" class="btn btn-outline-light">View your prescription details</button>
                  <a href="/schedule" class="btn btn-outline-light">View My Medicine Schedule</a>

                </div>
                </div>

                
        

  </div>
                    
  


 